html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}  

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247, 247, 247);
    overflow: auto;
}

.content {
    display: flex;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 1rem auto;
    font-size: 3rem;
}

.container {
    border: 3px solid black;
    width: 31.25rem;
    height: 31.25rem;
    display: grid;
    background: white;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 31.25rem;
    width: 12.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-top: 2rem;
}

.slidertext {
    margin: auto;
}

.right-side-settings {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 12.5rem;
    margin-bottom: 0.625rem;
    padding-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.slider {
    direction: rtl;
    appearance: none;
    background: gray;
    height: 9px;
    width: 100%;
    border-radius: 10px;
    opacity: 0.6;
    margin: 3rem auto 1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: blue;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    background: blue;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

button {
    font-size: 1.7em;
    background: rgb(255, 247, 233);
    border-radius: 7px; 
    padding: 0.3125em 1em;
    border: 3px solid rgba(145, 92, 92, 0.582);
}

button:hover {
    background: rgb(253, 239, 210);
}

@media screen and (max-width: 736px) {
    h1 {
        margin: 0;
    }
    .content {
        flex-direction: column;
        gap: 3rem;
    }
    .settings {
        order: 2;
        height: 0;
        width: 0;
        justify-content: center;
        align-items: center;
    }
    .right-side-settings {
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .buttons {
        flex-direction: row;
        gap: 0;
    }
    .slider-container {
        display: flex;
        width: 20rem;
        align-items: center;
        justify-content: center;
    }
    .slider {
        width: 13rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 508px) {
    h1 {
        font-size: 3rem;
        white-space: nowrap;
    }
    .container {
        width: 90vw;
        height: 90vw;
    }
    .right-side-settings {
        max-width: 100vw;
    }
    .slider-container {
        max-width: 100vw;
        margin-top: 3rem;
    }
    .buttons {
        margin-left: 1rem;
        margin-top: 3rem;
    }
    button {
        width: 33.33vw;
        height: 15vw;
        font-size: 6vw;
        padding: 0;
    }
    .slider {
        max-width: 50vw;
        margin: 3rem 1rem 3rem 3rem;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 15vw;
    }
}